
.login-container {
     display:flex; 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
   justify-content: center;
   align-items: center; 
    justify-content: center;
}
.login-box{
     background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 300px;
    justify-content: center;
    text-align: center;
}
.logo{
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:120px;
    margin-bottom: 20px;
}
.inputs{
    background-color: #f8f7ca;
    width: 100%;
    height: 20px;
    margin: 5px;
    border-radius: 10px;
    vertical-align: middle;
    font-size: 14px;
    justify-content: center;
}
.submit-btn{
    background-color: blue;
    color: white; 
    padding: 10px;
    width:100% ;
    cursor:pointer;
    margin-top: 10px;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    display:block;
    text-align: center;
}


.submit-btn:hover{
    background-color: black;
}