*{
    background-color: #f5f4f4;

}
h1{
    font-weight: 200;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px !important;
    font-size: 2rem;
    
}
p{
    text-align: center;
    width: 30%;
    display: inline-block;
    padding: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 40px ;
    border: 1px solid #bbb;
    
}

#first{
    color: blue;
}
#second{
    color:aquamarine ;
}
#last{
    text-decoration: underline;
    text-transform: uppercase;
}

.container{
     display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: space-between;

}
.containe img{
    width: 100%;;
}
.image{
    width: 60%; 
}
